<% title "Contact Me" %>
<%= form_for @message, url: contactme_path do |f| %>
  <% if @message.errors.any? %>
    <div class="error-container">
      <div class="error">
        <ul>
          <% @message.errors.full_messages.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  
  <div class = "form">
    <h1>Contact Form</h1>
    <div class="form-field">
      <%=f.label :name, class: "label" %>
      <%=f.text_field :name, autofocus: true,:placeholder => "Name" %>
    </div>
    <div class="form-field">
      <%=f.label :email, class: "label" %>
      <%=f.email_field :email, :placeholder => "Email"%>
    </div>
    <div class="form-field">
      <%=f.label :message, class: "label" %>
      <%=f.text_area :message_body, :placeholder => "Please enter your message here"%>
    </div>
    <%=f.submit "Send email", class: "submit" %>
  </div>
<% end %>
