<% title "Contact Me" %>
<%= form_for :contact_me_form, url: contactme_path do |f| %>
  <div class = "form">
    <h1>Contact Form</h1>
    <div class="form-field">
      <%=f.label :name, class: "label" %>
      <%=f.text_field :name, autofocus: true,:placeholder => "Name" %>
    </div>
    <div class="form-field">
      <%=f.label :email, class: "label" %>
      <%=f.email_field :email, :placeholder => "Email"%>
    </div>
    <div class="form-field">
      <%=f.label :message, class: "label" %>
      <%=f.text_area :message_body, :placeholder => "Please enter your message here"%>
    </div>
    <%=f.submit "Send email", class: "submit" %>
  </div>
<% end %>
